section#experience.page-section.portfolio
            .container
                // Expériences Section Heading
                h2.page-section-heading.text-center.text-uppercase.text-secondary.mb-0 Expériences
                // Icon Divider
                .divider-custom
                    .divider-custom-line
                    .divider-custom-icon
                        i.fas.fa-flask
                    .divider-custom-line
                // Expériences Grid Items
                .row.justify-content-center
                    // Expériences Item 1
                    .col-md-6.col-lg-4.mb-5
                        .portfolio-item.mx-auto(data-bs-toggle='modal', data-bs-target='#experienceModal1')
                            .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
                                .portfolio-item-caption-content.text-center.text-white
                                    i.fas.fa-search.fa-3x
                            img.img-fluid(src='assets/img/portfolio/modal-dimo.png', alt='...')
                    // Expériences Item 2
                    .col-md-6.col-lg-4.mb-5
                        .portfolio-item.mx-auto(data-bs-toggle='modal', data-bs-target='#experienceModal2')
                            .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
                                .portfolio-item-caption-content.text-center.text-white
                                    i.fas.fa-search.fa-3x
                            img.img-fluid(src='assets/img/portfolio/modal-val.png', alt='...')
                    // Expériences Item 3
                    .col-md-6.col-lg-4.mb-5
                        .portfolio-item.mx-auto(data-bs-toggle='modal', data-bs-target='#experienceModal3')
                            .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
                                .portfolio-item-caption-content.text-center.text-white
                                    i.fas.fa-search.fa-3x
                            img.img-fluid(src='assets/img/portfolio/circus.png', alt='...')
                    // Expériences Item 4
                    .col-md-6.col-lg-4.mb-5.mb-lg-0
                        .portfolio-item.mx-auto(data-bs-toggle='modal', data-bs-target='#experienceModal4')
                            .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
                                .portfolio-item-caption-content.text-center.text-white
                                    i.fas.fa-search.fa-3x
                            img.img-fluid(src='assets/img/portfolio/modal-game.png', alt='...')
                    // Expériences Item 5
                    .col-md-6.col-lg-4.mb-5.mb-md-0
                        .portfolio-item.mx-auto(data-bs-toggle='modal', data-bs-target='#experienceModal5')
                            .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
                                .portfolio-item-caption-content.text-center.text-white
                                    i.fas.fa-search.fa-3x
                            img.img-fluid(src='assets/img/portfolio/modal-game.png', alt='...')
                    // Expériences Item 6
                    //- .col-md-6.col-lg-4
                    //-     .portfolio-item.mx-auto(data-bs-toggle='modal', data-bs-target='#experienceModal6')
                    //-         .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
                    //-             .portfolio-item-caption-content.text-center.text-white
                    //-                 i.fas.fa-search.fa-3x
                    //-         img.img-fluid(src='assets/img/portfolio/submarine.png', alt='...')