footer.footer.text-center
            .container
                .row
                    // Footer Location
                    .col-lg-4.mb-5.mb-lg-0
                        h4.text-uppercase.mb-4 Localisation
                        p.lead.mb-0
                            | Lyon
                            br
                            | 69000
                    // Footer Social Icons
                    .col-lg-4.mb-5.mb-lg-0
                        h4.text-uppercase.mb-4 Suivez-moi sur...
                        a.btn.btn-outline-light.btn-social.mx-1(href='https://www.linkedin.com/in/michael-pastor/')
                            i.fab.fa-fw.fa-linkedin-in
                        a.btn.btn-outline-light.btn-social.mx-1(href='https://github.com/MikaPST')
                            i.fab.fa-fw.fa-github
                    // Footer About Text
                    .col-lg-4
                        h4.text-uppercase.mb-4 Télécharger le CV
                        // Skills Section Button
                        .text-center.mt-4
                            a.btn.btn-xl.btn-outline-light(href='assets/cv_michael.pdf')
                                i.fas.fa-download.me-2
                                | Télécharger !