header.masthead.bg-primary.text-white.text-center
            .container.d-flex.align-items-center.flex-column
                // Masthead Avatar Image
                img.masthead-avatar.mb-5(src='assets/img/photo-profil.png', alt='...')
                // Masthead Heading
                h1.masthead-heading.text-uppercase.mb-0 Chef de Projet SI<br>& Developpeur
                // Icon Divider
                .divider-custom.divider-light
                    .divider-custom-line
                    .divider-custom-icon
                        i.fas.fa-star
                    .divider-custom-line
                // Masthead Subheading
                p.masthead-subheading.font-weight-light.mb-0 Project IT Manager - Developer - Web Designer