// Portfolio Modal 4
#experienceModal4.portfolio-modal.modal.fade(tabindex='-1', aria-labelledby='portfolioModal4', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content
            .modal-header.border-0
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body.text-center.pb-5
                .container
                    .row.justify-content-center
                        .col-lg-8
                            // Portfolio Modal - Title
                            h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Microsphere
                            // Icon Divider
                            .divider-custom
                                .divider-custom-line
                                .divider-custom-icon
                                    i.fas.fa-star
                                .divider-custom-line
                            // Portfolio Modal - Image
                            img.img-fluid.rounded.mb-5(src='assets/img/portfolio/modal-microsphere.png', alt='...')
                            // Portfolio Modal - Text
                            p.mb-4.modal-text.modal-intro
                                | Microsphere est une petite entreprise proposant à ses clients professionnels et particuliers des services de réparation, maintenance et vente informatique.
                            .row
                                .ms-auto.modal-text
                                    p.lead
                                        | Intégrant l'entreprise au poste de technicien informatique, j'ai rapidement eux en charge d'autres responsabilités comme le marketing en tant que Technico-Commercial, l'infographisme et technicien ADSL en sous traitence SFR avec Connect Assistance.
                                .col-lg-6.me-auto.modal-text.modal-text-mission
                                    br
                                    | - Réparation PC
                                    br 
                                    | - Conseils, Devis et facturation des clients
                                    br 
                                    | - Dépannage à domicile client pour professionnel et particulier
                                .col-lg-6.me-auto.modal-text.modal-text-mission
                                    br
                                    | - Création de logo, flyer, charte graphique et identité visuelle pour les entreprises
                                    br 
                                    | - Chargé de communication
                            button.btn.btn-primary(href='#!', data-bs-dismiss='modal')
                                i.fas.fa-times.fa-fw
                                | Fermer la Fenêtre